.side-bar {
  position: relative;

  @media only screen and (max-width: 1140px) {
    &.side-bar--show .side-bar__nav {
      transition: left 0.4s ease;
      left: 0;
    }

    &.side-bar--show .side-bar__overflow {
      width: 100%;
      position: fixed;
      z-index: 80;
      inset: 0;
    }
  }

  @media only screen and (max-width: 840px) {
    top: 63.9px;
  }
}

.side-bar__nav {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: var(--component-color);
  left: 0;
  top: 83px;
  z-index: 100;

  @media only screen and (max-width: 1140px) {
    display: flex;
    left: -100%;
    top: 69px;
    transition: left 0.6s ease;
  }

  @media only screen and (max-width: 840px) {
    top: 61px;
  }
}

.side-bar__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 16px;
  width: 100%;
}

.side-bar__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.side-bar__link {
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  border: none;
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(30, 41, 65, 0.498);
  }

  &.side-bar__link--active {
    background-color: var(--primary-bg-color);
  }
}

.side-bar__link-icon {
  margin-right: 5px;
}
