/* SIDEBAR */
.sidebar {
  position: relative;
  z-index: 120;
}

.sidebar__nav {
  position: fixed;
  width: 210px;
  height: 100vh;
  background-color: var(--component-color);
  left: 0;
  top: 0;
  z-index: 100;
  border-right: 1px solid var(--border-color);
  transition: width 0.4s ease;

  &.sidebar__nav--show {
    transition: left 0.4s ease;
    left: 0;
  }

  &.sidebar__nav--mini {
    @media only screen and (min-width: 1140px) {
      width: 83px;
    }
  }

  @media only screen and (max-width: 1140px) {
    display: flex;
    left: -100%;
    top: 59px;
    transition: left 0.6s ease;
  }

  @media only screen and (max-width: 840px) {
    top: 53.5px;
  }
}

.sidebar__toggler {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  border-radius: 50%;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  z-index: 1000;
  top: 10px;

  @media only screen and (max-width: 1140px) {
    display: none;
  }
}

.sidebar__toggler-img {
  width: 24px;
  height: 24px;
  transition: transform 0.4s ease;

  &--open {
    transform: rotate(180deg);
    transition: transform 0.4s ease;
  }
}

.sidebar__overlay.sidebar__overlay--show {
  @media only screen and (max-width: 1140px) {
    width: 100%;
    position: fixed;
    z-index: 80;
    inset: 0;
  }
}

.sidebar__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 50px 12px;
  width: 100%;

  @media only screen and (max-width: 1140px) {
    padding: 24px 12px;
  }
}

.sidebar__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.sidebar__link {
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(30, 41, 65, 0.498);
  }

  &.active {
    background-color: var(--primary-bg-color);
  }

  &--mini {
    @media only screen and (min-width: 1140px) {
      justify-content: center;

      .sidebar__link-text {
        display: none;
      }
    }
  }
}

.sidebar__link-text {
  white-space: nowrap;
  margin-left: 5px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* MINI SIDEBAR */
.mini-sidebar {
  background-color: var(--component-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding-top: 16px;

  @media only screen and (max-width: 840px) {
    max-width: none;
  }
}

.mini-sidebar__heading {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: capitalize;
  margin-left: 16px;

  @media only screen and (max-width: 840px) {
    font-size: 22px;
  }

  @media only screen and (max-width: 576px) {
    font-size: 20px;
  }
}

.mini-sidebar__list {
  border-top: 1px solid var(--border-color);
  padding: 0;
  margin: 0;
}

.mini-sidebar__item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }
}

.mini-sidebar__link {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  box-shadow: none;
  transition: 0.3s ease color;

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
  }

  &:hover {
    color: var(--accent-color);
  }
}
