.about__title {
  text-align: center;
}

.about__desc {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;

  q {
    color: var(--accent-color);

    a {
      color: inherit;
    }
  }
}

.about__icons {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  @media only screen and (max-width: 1140px) {
    justify-content: center;
  }
}

.about__icon {
  width: 32px;
  height: auto;
}

.about__link-wrapper {
  display: block;

  @media only screen and (max-width: 1140px) {
    text-align: center;
  }
}
