.about__title {
  text-align: center;
}

.about__desc {
  font-weight: 500;
  letter-spacing: 0.2px;

  @media only screen and (max-width: 840px) {
    font-weight: 400;
    text-align: center;
  }
}

.about__quote {
  color: var(--accent-color);

  a {
    color: inherit;
  }
}

.about__icons {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  @media only screen and (max-width: 1140px) {
    justify-content: center;
  }
}

.about__icon {
  width: 32px;
  height: auto;
}

.about__link-wrapper {
  font-weight: 500;

  @media only screen and (max-width: 1140px) {
    text-align: center;
  }
}
