.about {
  height: 100%;
  background-image: url("../react.svg"), url("../vite.svg"),
    url("../firebase.svg"), url("../kinoblog.svg");
  background-repeat: no-repeat;
  background-size: 128px;
  background-position: top left calc(0% + 20px), top right calc(0% + 20px),
    bottom left calc(0% + 20px), bottom right calc(0% + 20px);
}

.about__title {
  text-align: center;
}

.about__desc {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;

  q {
    color: var(--accent-color);
  }
}
