.button {
  border: none;
  cursor: pointer;
  padding: 9px 17px;
  border-radius: 6px;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;

  @media only screen and (max-width: 920px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 15px;
  }
  &--green {
    background-color: var(--accent-green);
  }

  &--blue {
    background-color: var(--text-color);
    color: #1c64f2;
  }
}
