/* POSTS */
.posts__inner {
  background-color: var(--component-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding-top: 10px;

  @media only screen and (max-width: 840px) {
    padding-top: 8px;
  }
}

.list-posts {
  margin: 0;
  padding: 0;
}

.posts__title {
  margin-left: 15px;
}

/* POST */
.post__wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;

  @media only screen and (max-width: 840px) {
    flex-direction: column;
  }
}

.post__side-bar {
  position: sticky;
  top: 73px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  width: 100%;

  @media only screen and (max-width: 1500px) {
    max-width: 320px;
  }

  @media only screen and (max-width: 840px) {
    max-width: none;
  }

  @media only screen and (max-width: 600px) {
    gap: 10px;
  }
}

/* ARTICLE */
.article-post {
  width: 100%;
  margin-right: 10px;

  @media only screen and (max-width: 840px) {
    max-width: none;
    margin-right: 0;
    margin-bottom: 25px;
  }

  @media only screen and (max-width: 600px) {
    margin-bottom: 18px;
  }
}

.article-post__inner {
  background-color: var(--component-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  position: relative;
  min-height: 100px;
  overflow: hidden;
}

.article-post__image {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 6px;
}

.article-post__iframe {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 6px;

  iframe {
    width: 100%;
    height: auto;
    border: none;
    aspect-ratio: 16 / 9;
  }
}

.article-post__content {
  padding: 15px;
  padding-top: 0;

  @media only screen and (max-width: 768px) {
    padding: 12px;
    padding-top: 0;
  }

  @media only screen and (max-width: 576px) {
    padding: 10px;
    padding-top: 0;
  }
}

.article-post__time-like-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0 25px;
  border-top: 1px solid var(--border-color);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.article-post__time {
  color: #6c757d;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid var(--border-color);
  padding: 0 4px;
  border-top: none;
  border-radius: 0 0 5px 5px;

  @media only screen and (max-width: 920px) {
    font-size: 17px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 576px) {
    font-size: 14px;
  }
}

.article-post__buttons-wrapper {
  display: flex;
  gap: 0 20px;
}

.article-post__button {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  color: var(--text-color);
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--border-color);
  padding: 0 6px;
  border-top: none;
  border-radius: 0 0 5px 5px;

  &:focus {
    outline: none;
  }

  @media only screen and (max-width: 920px) {
    font-size: 17px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 16px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  @media only screen and (max-width: 576px) {
    font-size: 14px;
  }
}

.article-post__descs:not(:last-child) {
  margin-bottom: 20px;

  @media only screen and (max-width: 920px) {
    margin-bottom: 12px;
  }
}

.article-post__desc {
  margin: 0;
  font-weight: 300;

  &:not(:last-child) {
    margin-bottom: 5px;

    @media only screen and (max-width: 920px) {
      margin-bottom: 3px;
    }
  }

  hr {
    border: none;
    margin: 10px 0;
    display: block;
    border-top: 1px solid var(--border-color);
  }
}

.article-post__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 15px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}

.article-post__tag {
  display: flex;
  box-shadow: none;
  padding: 2px 5px;
  border-radius: 5px;
  color: var(--accent-color);
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--accent-color-50);
  }

  &::before {
    content: "#";
  }

  @media only screen and (max-width: 920px) {
    font-size: 18px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 576px) {
    font-size: 15px;
  }
}
