/* LOGIN-REGISTER */
.login-register__title {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 25px;

  @media only screen and (max-width: 1140px) {
    font-size: 28px;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 25px;
    margin-bottom: 10px;
  }
}

.form-login-resgister {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.form-login-resgister__label {
  margin-bottom: 10px;
}

.form-login-resgister__input {
  font-family: inherit;
  font-size: 18px;
  padding: 14px 16px;
  border-radius: 5px;
  background-color: var(--component-color);
  color: var(--text-color);
  border: 1px solid var(--accent-color);
  margin-bottom: 25px;
}

.form-login-resgister__text {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;

  &-inner {
    margin-right: 8px;
  }

  &-link {
    color: var(--accent-color);
  }

  @media only screen and (max-width: 840px) {
    font-size: 17px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 16px;
  }
}
