/* LOGIN-REGISTER */
.login-register__title {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 25px;

  @media only screen and (max-width: 1140px) {
    font-size: 28px;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 25px;
    margin-bottom: 10px;
  }
}

.form-login-resgister {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.form-login-resgister__label {
  margin-bottom: 10px;
  font-size: inherit;
}

.form-login-register__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  position: relative;
}

.form-login-register__password-toggle {
  display: flex;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  &:focus {
    outline: none;
  }
}

.form-login-resgister__input {
  font-family: inherit;
  font-size: 18px;
  padding: 14px 40px;
  border-radius: 5px;
  background: var(--component-color) no-repeat 10px center / 24px;
  color: var(--text-color);
  border: 1px solid var(--accent-color);
  text-transform: lowercase;

  &--email {
    background-image: url("../images/icon-mail.svg");
  }

  &--password {
    background-image: url("../images/icon-key.svg");
  }
}

.form-login-resgister__text {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;

  &-inner {
    margin-right: 8px;
  }

  &-link {
    color: var(--accent-color);
  }

  &--error {
    color: #f05252;
  }

  @media only screen and (max-width: 840px) {
    font-size: inherit;
  }
}

.form-login-register__google {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 10px;
}
