.tabs {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 5px;
  overflow-x: auto;
}

.tabs__item {
  padding: 7px 10px;
  font-size: 21px;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid var(--border-color);

  &:last-child {
    align-self: flex-end;
    flex-grow: 1;
  }

  &--active {
    border-radius: 3px 3px 0 0;
    border: 1px solid var(--border-color);
    border-bottom: none;
  }

  @media only screen and (max-width: 1140px) {
    font-size: 19px;
    padding: 6px 9px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 18px;
    padding: 5px 8px;
  }

  @media only screen and (max-width: 500px) {
    font-size: 16px;
    padding: 4px 7px;
  }
}
