/* POST-LAYOUT */
.post-page__inner {
  display: flex;
  align-items: flex-start;
  position: relative;

  @media only screen and (max-width: 840px) {
    flex-direction: column;
  }
}

.post-page__side-bar {
  position: sticky;
  top: 96px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 320px;
  width: 100%;

  @media only screen and (max-width: 840px) {
    max-width: none;
  }

  @media only screen and (max-width: 600px) {
    gap: 10px;
  }
}

/* POST */
.post {
  width: 100%;
  max-width: 670px;
  margin-right: 10px;

  @media only screen and (max-width: 840px) {
    max-width: none;
    margin-right: 0;
    margin-bottom: 25px;
  }

  @media only screen and (max-width: 600px) {
    margin-bottom: 18px;
  }
}

.post__inner {
  background-color: var(--component-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 15px;
  position: relative;
  min-height: 100px;
  overflow: hidden;

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }
}

.post__badge {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3px 8px;
  border-radius: 0 0 20px 0;
  background-color: var(--accent-color);
  user-select: none;

  @media only screen and (max-width: 840px) {
    font-size: 18px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.post__image {
  object-fit: contain;
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

.post__iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  border: none;
}

.post__time-like-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0 25px;
  border-top: 1px solid var(--border-color);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.post__time {
  color: #6c757d;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid var(--border-color);
  padding: 0 4px;
  border-top: none;
  border-radius: 0 0 5px 5px;

  @media only screen and (max-width: 920px) {
    font-size: 17px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 576px) {
    font-size: 14px;
  }
}

.post__buttons-wrapper {
  display: flex;
  gap: 0 20px;
}

.post__button {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  color: var(--text-color);
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--border-color);
  padding: 0 6px;
  border-top: none;
  border-radius: 0 0 5px 5px;

  &:focus {
    outline: none;
  }

  @media only screen and (max-width: 920px) {
    font-size: 17px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 16px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  @media only screen and (max-width: 576px) {
    font-size: 14px;
  }
}

.post__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 15px;

  @media only screen and (max-width: 920px) {
    font-size: 23px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 22px;
    font-weight: 500;
  }

  @media only screen and (max-width: 576px) {
    font-size: 21px;
  }
}

.post__description {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 300;

  hr {
    border: none;
    margin: 10px 0;
    display: block;
    border-top: 1px solid var(--border-color);
  }

  @media only screen and (max-width: 920px) {
    margin-bottom: 15px;
  }
}

.post__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 15px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}

.post__tag {
  display: flex;

  a {
    color: var(--accent-color);

    &::before {
      content: "#";
    }

    @media only screen and (max-width: 920px) {
      font-size: 18px;
    }

    @media only screen and (max-width: 840px) {
      font-size: 16px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 15px;
    }
  }
}
