/* MINI SIDEBAR */
.mini-sidebar {
  background-color: var(--component-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding-top: 16px;

  @media only screen and (max-width: 840px) {
    max-width: none;
  }
}

.mini-sidebar__title {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  margin-left: 16px;

  img {
    margin-left: 5px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 22px;
  }
}

.mini-sidebar__list {
  padding: 0;
  margin: 0;
}

.mini-sidebar__item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;

  &:first-child {
    border-top: 1px solid var(--border-color);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }

  a {
    color: var(--text-color);
    font-size: 18px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: 0.3s ease color;

    &::before {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
    }

    &:hover {
      color: var(--accent-color);
    }

    @media only screen and (max-width: 840px) {
      font-size: 17px;
    }
  }

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }
}

.mini-sidebar__time {
  display: inline-block;
  color: #6c757d;
  font-weight: 300;
  font-size: 16px;

  @media only screen and (max-width: 576px) {
    font-size: 14px;
  }
}
