/* MINI SIDEBAR */
.mini-sidebar {
  background-color: var(--component-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding-top: 16px;

  @media only screen and (max-width: 840px) {
    max-width: none;
  }
}

.mini-sidebar__heading {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: capitalize;
  margin-left: 16px;

  @media only screen and (max-width: 840px) {
    font-size: 22px;
  }

  @media only screen and (max-width: 576px) {
    font-size: 20px;
  }
}

.mini-sidebar__list {
  border-top: 1px solid var(--border-color);
  padding: 0;
  margin: 0;
}

.mini-sidebar__item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }
}

.mini-sidebar__link {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  box-shadow: none;
  transition: 0.3s ease color;

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
  }

  &:hover {
    color: var(--accent-color);
  }
}
