.tags__title {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  margin-left: 15px;
  margin-bottom: 25px;
  text-align: center;

  &-inner {
    color: var(--accent-color);

    &::before {
      content: "#";
    }
  }

  @media only screen and (max-width: 920px) {
    font-size: 26px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 24px;
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 600px) {
    margin-left: 15px;
    font-size: 22px;
  }
}

.tags__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--component-color);
  border: 1px solid var(--border-color);
}

.tags__item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 16px 44px 16px 16px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
}

.tags__link {
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
  box-shadow: none;
  transition: color 0.5s ease;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
  }

  &:hover {
    color: var(--accent-color);
  }

  &:focus {
    outline: none;
  }
}

.tags__item-badge {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px 8px;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-bottom-left-radius: 6px;
}

.tags__item-inner,
.tags__item-badge {
  font-size: 18px;

  @media only screen and (max-width: 840px) {
    font-size: inherit;
  }
}

.tags__item-time {
  color: #6c757d;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    background: url("../images/icon-time.svg") no-repeat center / contain;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  &--edited::before {
    background-image: url("../images/icon-mini-pencil.svg");
  }

  @media only screen and (max-width: 576px) {
    font-size: 13px;
  }
}
