/* THEME TOGGLER */
.theme-toggler {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  display: flex;

  &.theme-toggler--dark {
    .theme-toggler__img--moon {
      display: none;
    }
  }
}

.theme-toggler__img {
  width: 24px;
  height: 24px;
}
