.site-header {
  padding: 20px 120px;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  width: 100%;
  background-color: var(--component-color);

  @media only screen and (max-width: 1140px) {
    padding: 14px 20px;
  }

  @media only screen and (max-width: 840px) {
    padding: 10px 20px;
  }
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__left {
  display: flex;
  align-items: center;
  gap: 30px;

  @media only screen and (max-width: 1140px) {
    gap: 20px;
  }

  @media only screen and (max-width: 840px) {
    gap: 15px;
  }
}

/* SITENAV TOGGLER */
.sitenav-toggler {
  border: none;
  background-color: transparent;
  color: var(--text-color);
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s ease background-color;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px 0;
  width: 35px;
  height: 35px;

  &:hover {
    background-color: var(--primary-bg-color);
  }

  &.sitenav-toggler--show {
    position: relative;

    .sitenav-toggler__inner {
      position: absolute;
      left: 5px;

      &:first-child {
        transform: rotateZ(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: rotateZ(-135deg);
      }
    }
  }

  @media only screen and (max-width: 1140px) {
    display: flex;
  }
}

.sitenav-toggler__inner {
  width: 24px;
  height: 3px;
  left: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease, opacity 1s ease;
}

/* LOGO */
.site-header__left a {
  display: flex;

  &:focus {
    outline: none;
  }
}

.logo {
  max-width: 175px;
  width: 100%;
  height: auto;

  @media only screen and (max-width: 1140px) {
    max-width: 112px;
  }

  @media only screen and (max-width: 840px) {
    max-width: 108px;
  }
}

/* ACTIONS */
.site-header__actions {
  display: flex;
  align-items: center;
}

.user-account {
  display: flex;
}

.user-account__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  object-fit: cover;
}

.user-account__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  padding: 0;
  color: inherit;
  position: relative;
}

.user-account__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  overflow: hidden;
  width: 240px;
  position: absolute;
  transform: scale(0);
  top: 85%;
  right: 85%;
  transform-origin: top right;
  transition: transform 0.2s ease 0.3s;
}

.user-account__btn:focus .user-account__list {
  transform: scale(1);
}

.user-account__item {
  background-color: var(--primary-bg-color);
  padding: 8px 16px;
  display: flex;
  align-items: center;
  font-size: 18px;
  position: relative;

  &:hover {
    background-color: #1b253a;
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }

  &-img {
    margin-right: 10px;
  }

  &-btn + span {
    color: #f05252;
  }

  a,
  &-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    inset: 0;
    display: inline-block;

    &:focus {
      outline: none;
    }
  }
}
