/* LATEST POST */
.latest-post {
  max-width: 100%;
  flex-grow: 1;
  background-color: var(--component-color);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.latest-post__img-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.latest-post__img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;

  @media only screen and (max-width: 1320px) {
    height: 443px;
  }

  @media only screen and (max-width: 840px) {
    height: auto;
    object-fit: contain;
  }
}

.latest-post__content {
  padding: 15px;
  padding-top: 0;

  @media only screen and (max-width: 768px) {
    padding: 12px;
    padding-top: 0;
  }

  @media only screen and (max-width: 576px) {
    padding: 10px;
    padding-top: 0;
  }
}

.latest-post__subtitle {
  margin-top: 0;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 12px;
  font-size: inherit;

  @media only screen and (max-width: 840px) {
    font-weight: 400;
  }
}

.latest-post__btn {
  margin-top: auto;
  width: 100%;
}

/* ITEM POST */
.item-post {
  display: flex;
  align-items: flex-start;
  padding: 15px 40px 15px 15px;
  position: relative;

  &:first-child {
    border-top: 1px solid var(--border-color);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }

  @media only screen and (max-width: 840px) {
  }

  @media only screen and (max-width: 680px) {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }
}

.item-post__image {
  max-width: 246px;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  object-position: center;
  margin-right: 20px;
  border-radius: 8px;

  @media only screen and (max-width: 680px) {
    max-width: none;
    margin-right: 0;
    object-fit: contain;
    margin-bottom: 15px;
  }
}

.item-post__content {
  flex-grow: 1;

  @media only screen and (max-width: 680px) {
    width: 100%;
  }
}

.item-post__title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: 0.2s ease color;

  @media only screen and (max-width: 920px) {
    font-size: 20px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 18px;
  }

  @media only screen and (max-width: 576px) {
    font-size: 17px;
  }
}

.item-post__link {
  color: var(--text-color);
  display: inline-block;
  box-shadow: none;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    inset: 0;
  }

  &:hover {
    color: var(--accent-color);
  }
}

.item-post__desc {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  color: #6c757d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;

  @media only screen and (max-width: 920px) {
    font-size: 17px;
  }

  @media only screen and (max-width: 840px) {
    font-size: 16px;
    margin-bottom: 7px;
  }

  @media only screen and (max-width: 680px) {
    font-size: 15px;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }

  @media only screen and (max-width: 600px) {
    margin-bottom: 5px;
  }
}

.item-post__buttons {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media only screen and (max-width: 680px) {
    flex-direction: row;
    top: auto;
    bottom: 10px;
  }

  @media only screen and (max-width: 576px) {
    bottom: 0;
    border: 1px solid var(--border-color);
    border-bottom: none;
    border-radius: 6px 6px 0 0;
  }
}

.item-post__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  padding: 3px;
}
