/* ADMIN */
.admin__btns-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

// ADMIN-CREATE
.admin-create,
.admin-edit {
  padding: 50px;
}

.admin-create__container,
.admin-edit__container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

// admin form
.admin-form {
  display: flex;
  flex-direction: column;
  max-width: 1032px;
  width: 100%;
}

.admin-form__field-wrapper {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.admin-form__label {
  margin-bottom: 10px;
  color: #fff;

  &.admin-form__label--image {
    display: flex;
    align-items: center;
    opacity: 0.7;

    &::before {
      content: "";
      display: inline-block;
      width: 25px;
      height: 25px;
      background: url("../icons/file.svg") no-repeat center / contain;
      margin-right: 8px;
    }
  }

  &.admin-form__label--image-05 {
    color: rgba(255, 255, 255, 0.5);
  }
}

.admin-form__label-inner {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin-form__field {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--component-color);
  padding: 16px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: var(--text-color);

  &::placeholder {
    color: #fff;
    opacity: 0.5;
    font-weight: 300;
  }

  &--image {
    &:focus + label {
      outline: none;
      outline-offset: 3px;
      box-shadow: 0 0 0 4px #2a6d53;
      transition: box-shadow 0.2s ease;
    }
  }

  &--textarea {
    min-height: 230px;
    resize: vertical;
  }
}

.admin-form__select {
  border-radius: 8px;
  background-color: var(--component-color);
  border: 1px solid var(--border-color);
  color: #fff;
  padding: 16px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.admin-form__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

// admin image iframe wrapper
.admin__image-iframe-wrapper {
  padding: 16px;
  background-color: var(--component-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
}

.admin__iframe {
  display: flex;
}

.admin__image,
.admin__iframe {
  border: none;
  max-width: 400px;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

// USERS
/* USERS */
.admin-users__table-wrapper {
  overflow-x: auto;
}

.admin-users__title {
  text-align: center;
}

.admin-users__table,
.admin-users__table-row,
.admin-users__table-heading,
.admin-users__table-desc {
  border: 1px solid var(--text-color);
  border-collapse: collapse;
}

.admin-users__table {
  width: 100%;
}

.admin-users__table-heading {
  text-align: left;
  font-weight: 600;
}

.admin-users__table-desc--error {
  color: red;
}

.admin-users__table-heading,
.admin-users__table-desc {
  padding: 5px 10px;
}

.admin-users__table-delete {
  padding: 0px;
  border-radius: 2px;
  display: flex;
}

/* USERS FIELD */
.admin-users__table-fields {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-users__table-field {
  flex-grow: 1;
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--text-color);
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}

.admin-users__table-select {
  background-color: var(--border-color);
  border-radius: 5px;
  padding: 4px 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  color: var(--text-color);
  flex-grow: 1;
}

.admin-users__table-add {
  padding: 7px;
  background-color: var(--border-color);
}