/* SEARCH */
.search {
  display: flex;
  max-width: 400px;
  width: 100%;

  @media only screen and (max-width: 840px) {
    max-width: none;
  }
}

.search__form {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

.search__input {
  width: 100%;
  max-width: 100%;
  border-radius: 5px 0 0 5px;
  border-right: none;
  transition: max-width 0.5s ease, padding 0.5s ease;

  &--close {
    padding: 0;
    max-width: 0;
    transform: translateX(7px);
    z-index: -1;
  }

  @media only screen and (max-width: 840px) {
    margin-left: 14px;
  }
}

.search__inner-button {
  display: none;
  box-shadow: none;

  @media only screen and (max-width: 840px) {
    display: flex;
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 3px;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }

  @media only screen and (max-width: 600px) {
    right: 29px;
  }
}

.search__button {
  transition: border-radius 0.4s ease;

  &--open {
    border-radius: 0 5px 5px 0;
  }
}
